-i https://mirrors.aliyun.com/pypi/simple
fastapi==0.115.0
uvicorn~=0.30.6
tortoise-orm==0.21.6
aerich==0.7.2
aiomysql==0.2.0
bcrypt~=4.2.0
PyJWT==2.9.0
quill-delta==1.0.3
aiohttp==3.11.2
pyotp==2.9.0
qrcode==8.0
pillow==11.0.0
cryptography==43.0.3
python-multipart==0.0.19