
.toolbar-shadow {
  visibility: hidden;
}


.ql-snow {
  * {
    outline: none;
  }


  &.ql-toolbar {
    text-align: center;
    border: none;
    padding: 10px;

    .ql-picker:hover,
    button:hover {
      background-color: #2d2f3f !important; /* 设置背景颜色为黄色 */
    }

    .ql-picker-options {
      background-color: #424242;
      border: 1px solid #616161;
    }

    button,
    .ql-picker {
      background-color: transparent;
      border: none;
      margin-right: 8px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }


    button:active,
    .ql-picker:active {
      background-color: #757575;
    }

    .ql-picker-options {
      background-color: #1f202c;
      border-radius: 8px !important;
      border: none;
    }

    .ql-picker-label {
      border: none;
    }

    .ql-stroke,
    .ql-fill {
      stroke-width: 1.5px;
    }
  }

  &.ql-container {
    color: white;
    margin: 0 auto;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    border: none;

    .ql-editor {
      line-height: 1.9 !important;
    }

    .ql-size-large {
      font-weight: bold;
    }
  }

  .ql-code-block-container {
    background-color: #212121 !important;
    border-radius: 8px !important;
    margin: 20px 0 !important;

    select {
      background-color: #212121;
      font-size: 14px;
      padding: 2px;
      border: 1px solid #BDBDBD;
      border-radius: 3px !important;

      option {
        padding: 10px !important;
      }
    }
  }

  blockquote {
    border-left: 5px solid #ccc !important;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  .ql-tooltip {
    background-color: #212121 !important;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 1px #ddd;

    &::before {
      content: "URL:";
    }

    a.ql-action::after {
      content: '编辑'
    }

    a.ql-remove::before {
      content: '删除'
    }
  }

  .ql-tooltip.ql-editing {
    a.ql-action::after {
      content: '保存'
    }
  }

  .ql-tooltip[data-mode=link]::before {
    content: "输入URL:"
  }
}